.before before

.parent
    a.bp-card(href="#")
        .bp-card-text
            h1 title
            p textssssssssssss
        .bp-card-img
            img(src="https://images.unsplash.com/photo-1557052025-8358a54cf43e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ")

    a.bp-card(href="#")
        .bp-card-text
            h1 title
            p textssssssssssss
        .bp-card-img
            img(src="https://images.unsplash.com/photo-1557052025-8358a54cf43e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ")
    


.after after

