/*
    デバッグ用
.before
    background-color gray

.after
    background-color gray

.parent
    background-color skyblue
*/
a.bp-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2vw;
  text-decoration: none;
}
a.bp-card .bp-card-text {
  border: 0.1vh solid #fff;
  border-radius: 5vh 0 0 5vh;
  word-break: break-all;
  padding: 5vw;
}
a.bp-card .bp-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 0 5vh 5vh 0;
}
