
body
    background-color: #03a9f4
    color: white
    //font-family: "M PLUS Rounded 1c","meiryo","メイリオ", sans-serif;
    font-family: 'Noto Sans JP',"meiryo","メイリオ", sans-serif;
    font-weight: 300
    
@import "_library-css/bp-style/bp-card"
