color_background=#03a9f4
color_text_link=#003AFF
color_text_plane=white
topmenu_label_margin=4em
topmenu_list_margin=topmenu_label_margin/2
logo_bpriver_width=150px
icon_arrow_right_width=12px
//デバッグ用

//共通設定
body
    background-color: color_background
    color: color_text_plane
    //font-family: "M PLUS Rounded 1c","meiryo","メイリオ", sans-serif;
    font-family: 'Noto Sans JP',"meiryo","メイリオ", sans-serif;
    font-weight: 300
a
    text-decoration: none
    color color_text_link
    &:hover
        text-decoration underline
svg //svgのサイズを調整ために、各ファイルのsvgタグ内にclass名をつけwidthを指定すること
    //width 100%
    height 100% 
    margin 0.5em


//個別設定
.icon-arrow-right
    width icon_arrow_right_width
.logo-bpriver
    width logo_bpriver_width

.breadcrumb
    a
        float left
        &:last-child
            float none



.topmenu
    text-align: center
    .label
        margin topmenu_label_margin
        font-size x-large
    a
        display: block
        margin topmenu_list_margin







//@import "_library-css/bp-style/bp-card"
