color_background=#03a9f4
color_text_link=#003AFF
color_text_plane=white
topmenu_firstword_margin=4em
topmenu_list_margin=topmenu_firstword_margin/2
logo_bpriver_width=7em
logo_bpriver_height=logo_bpriver_width*0.4
breadcrumb_font_size=1.5em
icon_arrow_right_width=0.6em
icon_arrow_right_height=icon_arrow_right_width*3
//デバッグ用

//共通設定
body
    background-color: color_background
    color: color_text_plane
    //font-family: "M PLUS Rounded 1c","meiryo","メイリオ", sans-serif;
    font-family: 'Noto Sans JP',"meiryo","メイリオ", sans-serif;
    font-weight: 300
a
    text-decoration: none
    color color_text_link
    &:hover
        text-decoration underline

//個別設定
.logo-bpriver
    content ""
    width logo_bpriver_width
    height logo_bpriver_height
    background-image url("マテリアル-ロゴ_bpriver_プレーン.svg")
    background-size contain
    background-repeat no-repeat
    vertical-align middle

.breadcrumb
    display flex
    align-items center
    font-size breadcrumb_font_size
    a:before
        content ""
        display: inline-block
        width icon_arrow_right_width
        height icon_arrow_right_height
        background-image url("マテリアル-アイコン_arrow-right.svg")
        background-size contain
        background-repeat no-repeat
        vertical-align middle
        margin-right 0.7em
    a:first-child:before
        content none
    .text
        padding-bottom: 0.35em//高さを中心に合わせるため
        margin-left: 0.3em
        margin-right: 0.3em
//スマホ用に横スクロールできるようにする
//PCはスクロール無しで、文字を折り返す方が見やすい
    //white-space: nowrap//文字の自動改行禁止
    //overflow-x scroll//横スクロール可能
    //overflow-y hidden//縦スクロール禁止
    //-ms-overflow-style:none//スクロールは可能だがスクロールバーを非表示に。Edge用の記述。
    //&::-webkit-scrollbar
        //display:none//スクロールは可能だがスクロールバーを非表示に。webkit用の記述。



.topmenu
    text-align: center
    .firstword
        margin topmenu_firstword_margin
        font-size x-large
    a
        display: block
        margin topmenu_list_margin
        font-size x-large








//@import "_library-css/bp-style/bp-card"
