-
    //-link
    var link_googlesite="https://sites.google.com/a/bpriver.com/contents/"
    var link_logo_bpriver=link_googlesite + "logo/マテリアル-ロゴ_bpriver_プレーン.svg"
    //-root・・・arakawa.bpriver.comブログのこと
    var root_homepageurl="https://arakawa.bpriver.com/"
    var root_topmenu_label="こんな活動をしています"

    //-sdoc・・・software-development-online-community.bpriver.comブログのこと
    var sdoc_homepageurl = "https://software-development-online-community.bpriver.com/"
    var sdoc_comunityname = "ソフトウェア開発オンラインコミュニティ"

doctype xml
doctype html
html(b:version='2' class='v2' expr:dir='data:blog.languageDirection' expr:lang='data:blog.locale' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr')
    head
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><data:blog.pageTitle /></title>
        <b:skin><![CDATA[        body {  }        ]]></b:skin>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900" rel="stylesheet"/> 
        style
            include index.css
    body(expr:class!='&quot;loading&quot; + data:blog.mobileClass')
        
        b:section#header.header
            b:widget#Header1(type='Header' expr:title='data:blog.title')
                block contents_header
        
        b:section#main.main(name='Main' showaddelement='no')
            b:widget#Blog1(locked='true' title='ブログの投稿' type='Blog')
                //item、static_pageはbloop必須
                block contents_main
        
        block contents_script