b:section#main.main(name='Main' showaddelement='no')
    b:widget#Blog1(locked='true' title='ブログの投稿' type='Blog')
        //item、static_padeはbloop必須
        b:includable#main(var='top')
            b:switch(var='data:blog.pageType').
                <b:case value="index"/>
                    <b:loop values='data:posts' var='post'>
                        <b:include name='TopPost' data='post'/>
                    </b:loop>
                <b:case value="item"/>
                    <b:loop values='data:posts' var='post'>
                        <b:include name='DetailPost' data='post'/>
                    </b:loop>
                <b:case value="static_page"/>
                    <b:loop values='data:posts' var='post'>
                        <b:include name='StaticPage' data='post'/>
                    </b:loop>
                <b:default/>
                    <h1 class="title">工事中　もしくは　エラー</h1>

        b:includable#TopPost( var='post')
            <a href="https://arakawa.bpriver.com/p/test2.html">ページ</a>
            <a href="https://arakawa.bpriver.com/p/blog-page_14.html">ページ</a>
            a.bp-card(expr:href='data:post.url')
                .bp-card-text
                    .bp-card-title.
                        <data:post.title/>
                    .bp-card-details.
                        <data:post.snippet/>
                    i.fas.fa-sync-alt.bp-card-icon
                    .bp-card-date. 
                        <data:post.lastUpdatedISO8601/>
                .bp-card-img.
                    <img expr:alt='data:post.title' expr:src='data:post.firstImageUrl' expr:title='data:post.title'/>
            
        b:includable#DetailPost(var='post')
            .row(style="margin-top:30px;")
                .col-12
                    div.
                        <data:post.body/>
        
        b:includable#StaticPage(var='post')
            <data:post.body/>