/*
    デバッグ用
.before
    background-color gray

.after
    background-color gray

.parent
    background-color skyblue
*/
//変数
border-radius_px=5vh //カードの四隅の丸み具合

a.bp-card
    display: grid
    grid-template-columns:2fr 1fr
    margin 2vw
    text-decoration none
    //background-color: pink
    &:hover .bp-card-title
        text-decoration underline
    .bp-card-text
        //background-color: gray
        border 0.1vh solid white
        border-radius: border-radius_px 0 0 border-radius_px
        overflow-wrap : break-word;
        padding-top: 3vh
        padding-bottom: 3vh
        padding-left: 4vw
        padding-right: 4vw
        font-size 1.3em
        .bp-card-title
            //background-color: pink
            font-size 1.4em
            color #003AFF
            line-height: 130%;
            letter-spacing: 0.06em
            font-weight: 100
        .bp-card-details
            //background-color: green
            margin-top: 1.5vh
            margin-left: 3vw
            color: white
            letter-spacing: 0.06em
        .bp-card-icon
            color #6fd1fd
            margin-top: 1vh
            margin-left: 3vw
        .bp-card-date
            display: inline-block
            color #96defe
            margin-top: 1vh
            margin-left: 0.3em
            //font-size 0.9em
            
    .bp-card-img 
        //background-color: black
        img 
            width: 100%
            height 100%
            border-radius: 0 border-radius_px border-radius_px 0

