script(type="text/javascript").
    //<![CDATA[
        <!--
            var cards = document.getElementsByClassName( "bp-card-date" ) ;
            for(var i=0; i < cards.length; i++){
                cards[i].textContent = cards[i].textContent.slice(0,10);
            }
        //-->
    //]]>